body{
    margin: 0px;
    padding: 0px;

}

.container{
    padding: 19px;
    width: 100vw;
    height:100vh;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    grid-template-row: repeat(auto-fit, 100px);
    grid-gap: 10px;
}
.nav{
    
    background: #AD46FF;
}

a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}


