body{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}
.container h1{
    display: inline-block;
    color: gray;
    

}
.input{
    border: 2px solid gray;
    border-radius: 10px;
    padding: 10px 8px;
    width: 300px;
    
}

.home{
    background-color: #89dc75;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;

}