body{
    margin: 0px;
    padding:0px;

}
.container{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

}
p.text{
    display: inline-block;
    color: gray;
    font-weight: bold;
    font-size: 170px;

}




.home{
    background-color: #89dc75;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;

}